.faq {
   margin-top: rem(70);
   margin-bottom: rem(70);
   background-repeat: no-repeat;
   background-position: right bottom;
   background-size: unset;
   background-image: url("@img/servicies_graph.svg");
   @media(max-width: $mobileMedium) {
      background-image: none;
   }
   @media(max-width: $mobileMini) {
      margin-bottom: rem(32);
      margin-top: rem(28);
   }
   &__container {
      max-width: rem(992);
      > h2 {
         margin-bottom: rem(40);
         @extend %f-24-600;
         text-align: center;
         @media(max-width: $tablet) {
            font-size: rem(22);
         }
         @media(max-width: $mobileNormal) {
            margin-bottom: rem(22);
            font-size: rem(20);
         }
         @media(max-width: $mobileMini) {
            font-size: rem(18);
         }
      }
   }
   .spollers {
      margin: 0 auto;
      padding: rem(10) 0;
      overflow: hidden;
      border-radius: rem(18);
      background: var(--clr-white);
      box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.05);
      @media(max-width: $mobileSmall) {
         padding: 0;
      }
      &__item {
      }
   
      &__title {
         h3 {
            @extend %f-18-600;
            @media(max-width: $mobileNormal) {
               font-size: rem(16);
            }
            @media(max-width: $mobileSmall) {
               font-size: rem(15);
            }
         }
      }
   
      &__body {
         @extend %fw-500;
         line-height: 1.2;
         color: rgba(37, 37, 37, 0.8);
         p:not(:first-child) {
            margin-top: rem(12);
         }
         @media(max-width: $mobileSmall) {
            font-size: rem(13);
         }
      }
   }
   &__form {
      margin-top: rem(60);
      @media(max-width: $mobileMini) {
         margin-top: rem(28);
      }
   }
}